{%- liquid
  assign ingredients = product.metafields.custom.ingredients.value
  assign fallback_title = 'sections.product_ingredients.title' | t
  assign section_title = ingredients.title | default: fallback_title
  assign fallback_description = 'sections.product_ingredients.description' | t
-%}

<div class="container-small mx-auto max-w-4xl px-4 text-center py-20 flex flex-col gap-10">
  <div>
    <p class="text-sm font-medium uppercase text-neutral-500 tracking-wider">
      {{ section.settings.eyebrow | default: fallback_title }}
    </p>
    <h2 class="text-4xl font-medium">{{ section_title }}</h2>
    {% if section.settings.description %}
      <div class="text-base opacity-70 mt-2">{{ section.settings.description }}</div>
    {% elsif ingredients.description %}
      <p class="text-base opacity-70 mt-2">{{ ingredients.description }}</p>
    {% elsif fallback_description != blank %}
      <p class="text-base opacity-70 mt-2">{{ fallback_description }}</p>
    {% endif %}
  </div>

  {%- liquid
    assign other_ingredients = ''
    assign other_ingredients_count = 0
  -%}

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {% for ingredient in ingredients limit: 3 %}
      <div class="flex flex-row items-center gap-4 md:flex-col md:items-stretch">
        <div class="shrink-0 w-24 h-24 md:w-full md:h-auto md:aspect-square">
          {% render 'image', image: ingredient.image, class: 'rounded-2xl w-full h-full object-cover' %}
        </div>
        <div class="text-left md:text-center">
          <h3 class="text-lg font-medium">{{ ingredient.name }}</h3>
          <p class="text-sm text-secondary">{{ ingredient.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  {% for ingredient in ingredients %}
    {% if forloop.index > 3 %}
      {%- liquid
        if other_ingredients_count > 0
          assign other_ingredients = other_ingredients | append: ', '
        endif
        assign other_ingredients = other_ingredients | append: ingredient.name
        assign other_ingredients_count = other_ingredients_count | plus: 1
      -%}
    {% endif %}
  {% endfor %}

  {% if other_ingredients != '' %}
    <div>
      <div class="h-px bg-neutral-100"></div>
      <div class="text-sm uppercase tracking-wide opacity-70 mb-2 mt-6">{{ 'sections.product_ingredients.list' | t }}</div>
      <p>{{ other_ingredients }}</p>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.product_ingredients.name",
  "tag": "section",
  "settings": [
    { "type": "text", "id": "title", "label": "t:sections.product_ingredients.settings.title" },
    { "type": "richtext", "id": "description", "label": "t:sections.product_ingredients.settings.description" },
    { "type": "text", "id": "eyebrow", "label": "t:sections.product_ingredients.settings.eyebrow" }
  ],
  "presets": [
    {
      "name": "t:sections.product_ingredients.name",
      "category": "t:sections.product_ingredients.category"
    }
  ]
}
{% endschema %}
