{%- liquid
  assign faq_data = product.metafields.custom.faq.value
-%}

<div class="container-small py-30">
  <div class="flex flex-col gap-12">
    <div class="flex flex-col gap-4">
      <h2 class="text-6xl uppercase font-bold text-black mb-8">{{ section.settings.title | default: 'FAQ' }}</h2>

      {% if section.settings.description != blank %}
        <p class=" text-neutral-700">
          {{ section.settings.description }}
        </p>
      {% endif %}
    </div>

    <div>
      {% for item in faq_data %}
        <collapsible-item class="block faq-item border-b border-blue-100 last:border-b-0 transition-colors">
          <button
            class="faq-question  cursor-pointer  outline-none w-full text-left py-4 flex items-center justify-between hover:bg-gray-50 transition-colors focus:outline-none focus:ring-0"
            data-collapsible-trigger
            type="button"
          >
            <span class="text-lg font-medium text-black pr-4">{{ item.title }}</span>
            <div class="w-7 h-7 bg-blue-50 text-blue-800 rounded-full flex items-center justify-center [&>svg]:size-4">
              {{ 'icon-plus.svg' | inline_asset_content }}
            </div>
          </button>
          <div class="faq-answer" data-collapsible-content>
            <div class=" text-gray-700 py-4">
              {{ item.answer }}
            </div>
          </div>
        </collapsible-item>
      {% endfor %}
    </div>

    <script src="{{ 'collapsible.js' | asset_url }}" defer></script>
  </div>
</div>

{% stylesheet %}
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .faq-item.active .faq-answer {
    max-height: 500px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product FAQ",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "FAQ title",
      "default": "FAQ"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "FAQ description",
      "default": "<p>Got a less-frequently asked question?</p>"
    }
  ],
  "presets": [
    {
      "name": "Product FAQ",
      "category": "Product"
    }
  ]
}
{% endschema %}
