{%- liquid
  assign ingredients = product.metafields.custom.ingredients.value
-%}

<div class="container-small text-center py-30">
  <h2 class="text-4xl uppercase font-medium">{{ ingredients.title | default: 'Ingredients' }}</h2>
  {% if section.settings.description %}
    <div class="text-base opacity-70 mt-2">{{ section.settings.description }}</div>
  {% elsif ingredients.description %}
    <p class="text-base opacity-70 mt-2">{{ ingredients.description }}</p>
  {% endif %}

  {%- liquid
    assign other_ingredients = ''
    assign other_ingredients_count = 0
  -%}

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-12">
    {% for ingredient in ingredients limit: 3 %}
      <div class="ingredient-card">
        {% render 'image', image: ingredient.image, class: 'rounded-3xl' %}
        <div class="ingredient-card__content">
          <h3 class="text-xl font-medium">{{ ingredient.name }}</h3>
          <p class="text-neutral-700">{{ ingredient.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  {% for ingredient in ingredients %}
    {% if forloop.index > 3 %}
      {%- liquid
        if other_ingredients_count > 0
          assign other_ingredients = other_ingredients | append: ', '
        endif
        assign other_ingredients = other_ingredients | append: ingredient.name
        assign other_ingredients_count = other_ingredients_count | plus: 1
      -%}
    {% endif %}
  {% endfor %}

  {% if other_ingredients != '' %}
    <div class="h-px bg-neutral-300 mt-16"></div>
    <div class="mt-20">
      <div class="text-sm uppercase tracking-wide opacity-70 mb-2">Other ingredients</div>
      <p>{{ other_ingredients }}</p>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Product Ingredients",
  "tag": "section",
  "settings": [
    { "type": "text", "id": "title", "label": "Title" },
    { "type": "richtext", "id": "description", "label": "Description" }
  ],
  "presets": [
    {
      "name": "Product Ingredients",
      "category": "Product"
    }
  ]
}
{% endschema %}
